[Unit]
Description=Mount furumi HTTP FS

[Service]
Type=simple
User=furumi
RestartSec=5
Restart=always
ExecStart=/usr/bin/furumi --conf /etc/furumi.yml
KillSignal=SIGINT

[Install]
WantedBy=default.target
